


body{
  margin: 0;
  padding: 0;
  width: 100%;
}


h1 {
  font-family:"Arvo";
  font-weight:normal;
  font-size: 55px;
  text-align: left;
  color: #fff;
  margin: 0;
  padding: 0;
}


.anchor{
  display: block;
  height: 70px; /*same height as header*/
  margin-top: -70px; /*same height as header*/
  visibility: hidden;
}

a {
  text-decoration: none;
  outline: 0;
}

a:hover + h1 {
    color: #444;
}

h1 + a:hover{
    color: #444;
}




.h1_black {
  font-family:"Arvo";
  font-weight:normal;
  font-size: 55px;
  text-align: left;
  color: #797979;
  margin: 0;
  padding: 0;
}




h2 {
  font-family:"Arvo";
  font-weight: normal;
  font-size: 40px;
  text-align: left;
  color: #fff;
  margin: 0;
  padding: 0;
}

.h2_black {
  font-family:"Arvo";
  font-weight: normal;
  font-size: 40px;
  text-align: left;
  color: #797979;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Arvo";
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

.center {
  margin: 0
  auto;
}

.content{
  margin: 0 auto;
  width: 960px;
}

.clear {
  clear: both;
}

#header {
  width: 100%;
  background: url('../img/header-bg.png');
  height: 60px;
  position: fixed;
  margin-top: 0px;
}

#nav {
  width: 650px;
  float: right;
  margin-top: 20px;
}


#navfooter {
  width: 600px;
  float: right;
  margin-top: 20px;
}


#logo a {
  color: #fff; text-decoration: none;
  float: left; font-size: 30px;
  margin-top: 20px;
  color: #fff;
  font-family:"Wellfleet";
  font-weight: bold;
}

#nav ul{
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
}

#nav li{
  margin-top: 9px;
  float: left;
  padding-left: 21px;
}

#nav li a {
  color: #fff; opacity:0.6;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Wellfleet';
}

#nav li a.active {
  color: #fff; opacity:1;
  border-bottom: 2px solid #fff;
}
#nav li a:hover {
  color: #fff;
  opacity:1;
}


#slide{
  background:url('../img/dark_map.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 2100px;
  margin: 0;
  padding: 20px 0 20px 0;
  background-size: cover;

}

#slide1{
  background:url('../img/dark_map.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 500px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;

}


#slide0{
  background: #000;
  color: #fff;
  height: 1000px;
  padding: 170px 0 0 200px;
  text-align: center;
  vertical-align:middle;
  background-size: cover;

}

#slide2{
  background:url('../img/slide_lang.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  padding: 170px 0 0 0;
  background-size: cover;

}

#slide3{
  background: url('../img/slide_heatmap.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  padding: 170px 0 0 0;
  background-size: cover;

}

#slide4{
  background:url('../img/matrix.png') 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  padding: 170px 0 0 0;
  background-size: cover;

}


#slide5{
  background:url('../img/dark_map.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 400px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;

}

#slide6{
  background:url('../img/dark_map.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 400px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;

}

#slide_blank{
  background-color: #0D0F09;
  color: #333333;
  height: 4px;
  padding: 4px 0;

}

#footer {
  width: 100%;
  background: url('../img/header-bg.png');
  height: 80px;
}


#play2 {

  background: url('../img/play.svg') no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  bottom: -54px;
  left: 200px;
}

#info2 {
  background: url('../img/information.svg') no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  bottom: -54px;
  left: 250px;
}

#info3 {
  background: url('../img/information_grey.svg') no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  bottom: -54px;
  left: 250px;
}

#play3 {
  background: url('../img/play_grey.svg') no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  bottom: -54px;
  left: 200px;
}


#scrolldown {
  background: url('../img/bas.svg') no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  bottom: -54px;
  left: 200px;

}

#scrolldown.tooltip::before {
    content: attr(data-tip);
    font-size: 20px;
    position:relative;
    z-index: 999;
    white-space:nowrap;
    color:#ffffff;
    left: -40%;
    bottom:-110px;
    opacity: 0;
    transition:opacity 0.4s ease-out;
    }

#scrolldown.tooltip:hover::before {
    opacity: 1;
    //bottom:-35px;
    }


#play2.tooltip::before {
    content: attr(data-tip);
    font-size: 20px;
    position:relative;
    z-index: 999;
    white-space:nowrap;
    color:#ffffff;
    left: -40%;
    bottom:-110px;
    opacity: 0;
    transition:opacity 0.4s ease-out;
    }

#play2.tooltip:hover::before {
    opacity: 1;
    //bottom:-35px;
    }


#info2.tooltip::before {
    content: attr(data-tip);
    font-size: 20px;
    position:relative;
    z-index: 999;
    white-space:nowrap;
    color:#ffffff;
    left: -40%;
    bottom:-110px;
    opacity: 0;
    transition:opacity 0.4s ease-out;
    }

#info2.tooltip:hover::before {
    opacity: 1;
    //bottom:-35px;
    }

#info3.tooltip::before {
    content: attr(data-tip);
    font-size: 20px;
    position:relative;
    z-index: 999;
    white-space:nowrap;
    color: #797979;
    left: -40%;
    bottom:-110px;
    opacity: 0;
    transition:opacity 0.4s ease-out;
    }

#info3.tooltip:hover::before {
    opacity: 1;
        //bottom:-35px;
        }


#play3.tooltip::before {
    content: attr(data-tip);

    font-size: 20px;
    position:relative;
    z-index: 999;
    white-space:nowrap;
    color: #797979;
    left: -40%;
    bottom:-110px;
    opacity: 0;
    transition:opacity 0.4s ease-out;
    }

#play3.tooltip:hover::before {
    opacity: 1;
    //bottom:-35px;
    }
